@import 'trees-id-map';

.tid-shortcode{
	a{
		border: none !important;
		&:hover{
			border: none !important;
		}
	}
	.render-map-btn{
		display: block;
		text-align: center;
		color:#FFF;
		background-color: teal;
		text-decoration: none;
		border-bottom:0;
		border-radius: 5px;
		padding: 10px 5px;
		margin-bottom: 10px;
		&:hover{
			text-decoration: none;
			background-color: lighten(teal, 5);
			border-bottom:0;
		}
	}
}

.tid-statistic{
	display: flex;
	flex-flow: row wrap;
	dl{
		flex: 1 1 auto;
		// padding: 10px;
		margin: 0 10px 10px 10px;
		text-align: center;
		dt{
			color: teal;
			border-bottom: 1px solid teal;
			padding: 0 10px;
		}
		dd{
			margin-bottom: 0;
		}
	}
}

.tid-program-nav,
.tid-project-nav,
.tid-block-nav{
	ul{
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
		display: flex;
	}
	li{
		flex: 1 1 auto;
		text-align: center;
		margin: auto 5px;
		&:first-child{
			margin: auto 5px auto 0;
		}
		&:last-child{
			margin: auto 0 auto 5px;
		}
		a{
			display: block;
			
			color:#FFF;
			background-color: teal;
			text-decoration: none;
			border-bottom:0;
			border-radius: 5px;
			padding: 10px 5px;
			&:hover{
				color: #FFF;
				background-color: lighten(teal, 5);
				border-bottom:0;
			}
		}
	}
}

.tid-lot-archive{
	display: flex;
	flex-flow: row wrap;
}
.tid-lot-grid,
.tid-block-grid{
	clear: both;
	margin-bottom: 10px;
	flex: 1 1 auto;
	.grid-thumbnail{
		display: table-cell;
		vertical-align: top;
		a{
			vertical-align: middle;
			display: block;
			width: 100px;
			height: 100px;
			margin-right: 10px;
			background-color: teal;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;			
		}

	}
	.grid-title{
		display: table-cell;
		vertical-align: top;
		width: 250px;
		h3{
			margin: 0;
		}
		a{
			color:teal;	
		}
	}
}

.tid-lot-image, .tid-block-image{
	margin-bottom: 10px;
}

.tid-pagination{
	text-align: center;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	.page-numbers{
		display: inline-block;
		padding: 6px 12px;
		margin-bottom: 0;
		// font-size: 14px;
		// font-weight: 400;
		text-decoration: none;

		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
		border-width: 1px;


		position: relative;
		float: left;

		color: #333;
		background-color: #fff;
		border-color: #ccc;
		&.current{
			background-color: lighten(teal, 0.5);
			border-color: lighten(teal, 0.5);
			color:#FFF;
		}
		&:hover{
			background-color: lighten(teal, 10);
			border-color: lighten(teal, 0.5);
			color:#FFF;

		}
		&:first-child:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:not(:first-child):not(:last-child){
			border-radius: 0;
		}
		&:last-child:not(:first-child) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

.tid-project-image{
	margin-bottom: 10px;
}

.trees-id-map{
	display: none;
	background:teal;
	margin-bottom: 10px;
	height:600px;
}